.main_container {
    background: #121212;
}

.right_container {}

.call_link {
    width: 200px;
    display: flex;
    background-color: #1f1f1f;
    gap: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    align-items: center;
    cursor: pointer;
}

.loader {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #00ff47;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #00ff47;
    }

    100% {
        box-shadow: 0 0 0 14px rgba(105, 255, 168, 0);
    }
}

.call_link p {
    font-size: 14px;
}

.heading {
    color: white;
    margin-top: 10px;
}

.heading .first_head {
    font-size: 3rem;
    display: flex;
    /* border: 2px solid red; */
}

/* Add this to your CSS file */
.wave {
    display: inline-block;
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
    /* Adjust to control the pivot point */
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(14deg);
    }

    30% {
        transform: rotate(-8deg);
    }

    45% {
        transform: rotate(14deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.second_head {
    font-size: 3rem;
}

.third_head {
    font-size: 3rem;
    color: rgb(171 171 171);
    overflow: hidden;
    /* border: 2px solid green; */
    width: 540px;
    /* Ensures text doesn't overflow */
    border-right: 1px solid rgb(171 171 171);
    /* Simulates a blinking cursor */
    white-space: nowrap;
    /* Keeps the text on one line */
    animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

/* Blinking cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}


.upper_buttons {
    margin-top: 20px;
    /* border: 2px solid green; */
}

.upper_buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #dbdbdb34;
    border-radius: 5px;

    color: #b5b5b5a4;
    /* Adjust this color to change intensity/style */
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgb(255, 255, 255) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 2s linear infinite;
    transition: all 0.2s ease-in-out;
}

.upper_buttons .btn:hover {
    /* box-shadow:  0px 0px 0px 1px rgba(255, 255, 255, 0.484);  */
    /* border: 1px solid white;  */
    border-radius: 5px;
    /* transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; */
    /* border-opacity: 1; */
    border-color: rgb(77 77 77);
}


.upper_buttons .btnContent {
    display: flex;
    align-items: center;

}

.upper_buttons .btn .icon {
    font-size: 20px;

    color: white;
    opacity: 0.7;
    /* vertical-align: middle; */

    margin-left: 10px;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}

.work_container{
    margin-top: 40px;
}

.work_grid {
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    /* Adjust spacing between cards */
}

.work_grid .cards {
    color: #ffffff;
    /* border: 2px solid green; */
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 310px;
    /* border: 2px solid green; */
}

.cards .card_img{
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 260px;
    /* border: 2px solid red; */
}

.cards img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* object-fit:cover; */
    /* border: 2px solid red; */

}

.cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card_text h3{
    font-size: 16px;
}

.cards .line_icon{
    vertical-align: middle;
}

.card_text .card_btn{
    color: white;
    background: transparent;
    padding: 10px 8px;
    border: 1px solid #dbdbdb34;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.card_text .card_btn:hover{
    opacity: 1;
}

.project_container{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #dbdbdb34;
    border-radius: 8px;
    padding: 20px;
}

.project_container h3{
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}
.project_container .project_btn{
    width: 100%;
    background-color: rgb(43 43 43 );
    color: white;
    padding: 10px;
    border: 1px solid rgb(43 43 43 );
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 15px;
    font-weight: 600;
}
.project_container .project_btn:hover{

    border-color: rgb(97, 97, 97);
}

.tech_container{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #dbdbdb34;
    border-radius: 8px;
    padding: 20px;
}

.tech_container h3{
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
}

.tech_container .tech_p{
    color: white;
    opacity: 0.6;
    margin-bottom: 30px;
}

.tech_container .tech_div{
    margin: 25px 0px;

}

.tech_div .techs{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.tech_div .techs img{
    /* width: 2.5rem; */
}

.tech_div .techs span h4{
    color: white;
    margin-bottom: 5px;
    font-weight: 500;
}

.tech_div .techs span p{
    color: white;
    opacity: 0.6;
}

.tech_container .tool_btn{
    width: 100%;
    background-color: rgb(43 43 43 );
    color: white;
    padding: 10px;
    border: 1px solid rgb(43 43 43 );
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 15px;
    font-weight: 600;
}


.tech_container .tool_btn:hover{
    border-color: rgb(97, 97, 97);
}


@media screen and (max-width:1366px){
    .work_grid {
        display: grid;
        /* border: 2px solid red; */
        
        gap: 30px;
        /* Adjust spacing between cards */
    }
    .work_grid .cards {
        width: 100%;
        /* border: 2px solid green; */
    }
    .cards .card_img{
        width: 100%;
        height: 190px;
        /* border: 2px solid red; */
    }
    .card_text h3{
        font-size: 15px;
        /* border: 2px solid red; */
        
    }
    .third_head {
        font-size: 2.7rem;
        width: 62%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    }
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 62%;
        }
    }
}


@media screen and (max-width:1024px){
    
    .work_grid {
        display: grid;
        /* border: 2px solid red; */
        grid-template-columns: 1fr;
        gap: 50px;
        /* Adjust spacing between cards */
    }
    .work_grid .cards {
        width: 100%;
        height: 430px;
        /* border: 2px solid green; */
    }
    
    .cards .card_img{
        width: 100%;
        height: 340px;
        /* border: 2px solid red; */
    }
    
    .heading .first_head {
        font-size: 2.7rem;
        
        /* border: 2px solid red; */
    }
    .second_head {
        font-size: 2.7rem;
    }
    
    .third_head {
        font-size: 2.7rem;
        width: 70%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    }
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 70%;
        }
    }
  
}

@media screen and (max-width:768px){
    .work_grid .cards {
        width: 100%;
        height: 310px;
        /* border: 2px solid green; */
    }
    
    .cards .card_img{
        width: 100%;
        height: 250px;
        /* border: 2px solid red; */
    }
    .third_head {
        font-size: 2.7rem;
        width: 92%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    }
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 92%;
        }
    }

}


@media screen and (max-device-width:480px){
    .landing .body{
        width: 95%;
        padding-top: 50px;
    }
    .call_link {
        width: 180px;
        padding: 8px 15px;
    }
    

    .heading .first_head {
        font-size: 2rem;
        
        /* border: 2px solid red; */
    }
    .second_head {
        font-size: 2rem;
    }
    
    .third_head {
        font-size: 2rem;
        width: 94%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    } 
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 95%;
        }
    }
    .upper_buttons {
        margin-top: 20px;
        /* border: 2px solid green; */
    }
    
    .upper_buttons .btn {
        width: 47%;
        margin: 0px 5px;
        padding: 10px 15px;
    }
    .upper_buttons .btnContent{
        /* border: 2px solid red; */
        justify-content: center;
    }
    /* ///////////////// */

    .work_grid {
        display: grid;
        /* border: 2px solid rgb(0, 255, 21); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        /* Adjust spacing between cards */
    }
    
    .work_grid .cards {
        color: #ffffff;
        /* border: 2px solid green; */
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 270px;
        /* border: 2px solid rgb(98, 128, 0); */
    }
    
    .cards .card_img{
        width: 100%;
        height: 190px;
        /* border: 2px solid red; */
    }
    
    .cards img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        /* object-fit:cover; */
        /* border: 2px solid red; */
    
    }
    
    
    .card_text h3{
        font-size: 14px;
        /* border: 2px solid red; */
        
    }
    
    .cards .line_icon{
        vertical-align: middle;
    }
    
    .card_text .card_btn{
        padding: 8px 6px;
    }
    

    /* ]]]]]]]]]]]]]]]]]]]]]]]]]]]]] */

    
   
    
    .tech_container{
        margin-top: 20px;
        width: 100%;
        border: 1px solid #dbdbdb34;
        border-radius: 8px;
        padding: 20px;
    }
    
    .tech_container h3{
        color: white;
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .tech_container .tech_p{
        color: white;
        opacity: 0.6;
        margin-bottom: 30px;
    }
    
    .tech_container .tech_div{
        margin: 22px 0px;
    
    }
    
    .tech_div .techs{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    
    .tech_div .techs img{
        width: 40px;
        height: 40px;
    }
    
    .tech_div .techs span h4{
        font-size: 15px;
    }
    
    .tech_div .techs span p{
        font-size: 15px;
    }
    
    .tech_container .tool_btn{
        width: 100%;
        background-color: rgb(43 43 43 );
        color: white;
        padding: 10px;
        border: 1px solid rgb(43 43 43 );
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        font-size: 15px;
        font-weight: 600;
    }
    
    
    .tech_container .tool_btn:hover{
        border-color: rgb(97, 97, 97);
    }
}
@media screen and (max-device-width:390px){
    .heading .first_head {
        font-size: 1.9rem;
        
        /* border: 2px solid red; */
    }
    .second_head {
        font-size: 1.9rem;
    }
    .third_head {
        font-size: 1.9rem;
        color: rgb(171 171 171);
        overflow: hidden;
        /* border: 2px solid green; */
        width: 95%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    }
   
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 95%;
        }
    }

    .cards .card_img{
        width: 100%;
        height: 180px;
        /* border: 2px solid red; */
    }
}

@media screen and (max-device-width:375px){
    .third_head {
        font-size: 1.9rem;
        color: rgb(171 171 171);
        overflow: hidden;
        /* border: 2px solid green; */
        width: 98%;
        animation: typing 3s steps(35, end), blink-caret 0.5s step-end infinite;
    }
   
    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 98%;
        }
    }
}